In [167]:
import psycopg2
import pgspecial

# Create postgresql instance on Docker

In [157]:
#create postgresql container on docker
!docker run --name cats -e POSTGRES_PASSWORD=huyuan3 -d -p 5432:5432 postgres

ef19897b58efdc854e7b8f28aad42161dcfdc10dc254dc7ba9ff1efaebb9a96a

In [158]:
!docker ps -a

CONTAINER ID   IMAGE      COMMAND                  CREATED         STATUS                   PORTS                    NAMES
ef19897b58ef   postgres   "docker-entrypoint.s…"   2 seconds ago   Up 1 second              0.0.0.0:5432->5432/tcp   cats
3f9812e56ca3   postgres   "docker-entrypoint.s…"   23 hours ago    Exited (0) 2 hours ago                            sales

In [159]:
# examine port connection
!nc -zv localhost 5432

found 0 associations
found 1 connections:
     1:	flags=82<CONNECTED,PREFERRED>
	outif lo0
	src ::1 port 61673
	dst ::1 port 5432
	rank info not available
	TCP aux info available

Connection to localhost port 5432 [tcp/postgresql] succeeded!

# CREATE SCHEMA

In [160]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [163]:
# connect database located on docker with ipython-sql
%sql postgresql://postgres:huyuan3@localhost/postgres

'Connected: postgres@postgres'

In [175]:
%%sql
CREATE SCHEMA cats;

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [181]:
%%sql
CREATE TABLE cats.users(
  user_id serial primary key NOT NULL,
  f_name varchar(50) NOT NULL,
  l_name varchar(50) NOT NULL,
  facebook_id varchar(50) NOT NULL
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [182]:
%%sql
CREATE TABLE cats.videos(
  video_id serial primary key NOT NULL,
  name character varying(50) NOT NULL
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [186]:
%%sql
CREATE TABLE cats.logins(
  login_id serial primary key NOT NULL,
  user_id integer references cats.users(user_id) NOT NULL,
  "time" timestamp without time zone NOT NULL
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [188]:
%%sql
CREATE TABLE cats.watches(
  watch_id serial primary key NOT NULL,
  video_id integer references cats.videos(video_id) NOT NULL,
  user_id integer references cats.users(user_id) NOT NULL,
  "time" timestamp without time zone NOT NULL
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [189]:
%%sql
CREATE TABLE cats.friends(
  user_id integer references cats.users (user_id) NOT NULL,
  friend_id integer references cats.users (user_id) NOT NULL
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [190]:
%%sql
CREATE TABLE cats.likes(
  like_id serial primary key NOT NULL,
  user_id integer references cats.users (user_id) NOT NULL,
  video_id integer references cats.videos (video_id) NOT NULL,
  "time" timestamp without time zone NOT NULL,
  CONSTRAINT like_const UNIQUE(user_id,video_id)
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [191]:
%%sql
CREATE TABLE cats.suggestions(
  suggestion_id serial primary key NOT NULL,
  login_id integer references cats.logins(login_id) NOT NULL,
  video_id integer references cats.videos(video_id) NOT NULL
);

 * postgresql://postgres:***@localhost/postgres
Done.

[]

# GENERATE DATA

In [18]:
import datetime
from datetime import timedelta

def gen_random_datetime():
    start_date = datetime.date(2020, 1, 1)
    end_date = datetime.date(2020, 2, 1)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)

    return random_date

In [221]:
import random

with open('cats_data/last_names.txt', 'r') as f:
    last_names = f.read().splitlines()

with open('cats_data/first_names.txt', 'r') as f:
    first_names = f.read().splitlines()

usersCount = 0
maxIndex = len(first_names) - 1;
with open('users.csv', 'w') as f:
    f.write("user_id,fname,lname,facebook_id\n")
    for ln in last_names:
        for k in range(3):
            fn = first_names[random.randrange(maxIndex)]
            f.write("{},{},{},{}_{}@\n".format(usersCount, fn, ln, fn, ln))
            usersCount = usersCount + 1

videosCount = 0
with open('videos.csv', 'w') as f:
    f.write("video_id,video_name\n")
    for vid in range(1000000):
        f.write("{},video_{}\n".format(vid, vid))
        videosCount = videosCount + 1

# to fufill unique constraint for sql table, we will remove duplicated pairs by pandas later        
likesCount = 0
with open('likes.csv', 'w') as f:
    f.write("like_id,user_id,video_id,time\n")
    for uid in range(usersCount):
        likedCount = random.randrange(20) # reduced from 100
        for k in range(likedCount):
            vid = random.randrange(videosCount)
            time = gen_random_datetime()
            f.write("{},{},{},{}\n".format(likesCount,uid, vid, time))
            likesCount = likesCount + 1
            
total_logins = 100000
with open('logins.csv', 'w') as f:
    f.write("login_id,user_id,time\n")
    for i in range(total_logins):
        uid = random.randrange(usersCount)
        time = gen_random_datetime()
        f.write("{},{},{}\n".format(i, uid, time))
            
            
watchesCount = 0
with open('watches.csv', 'w') as f:
    f.write("watch_id,user_id,video_id,time\n")
    for uid in range(usersCount):
        watched = random.randrange(5)
        for k in range(watched):
            uid = random.randrange(usersCount)
            vid = random.randrange(videosCount)
            time = gen_random_datetime()
            f.write("{},{},{},{}\n".format(watchesCount, uid, vid, time))
            watchesCount += 1
            
#with open('friends.csv', 'w') as f:
#    f.write("user_id, friend_id\n")
#    for uid in range(usersCount):
#        friendsCount = random.randrange(10)
#        for k in range(friendsCount):
#            fid = random.randrange(usersCount)
#            f.write("{},{}\n".format(uid, fid))
            
with open('friends.csv','w') as f:
    f.write("subject,object\n")
    for user in range(usersCount):
        friend_list = random.sample(range(usersCount),random.randrange(10))
        for friend in range(len(friend_list)):
            f.write("{},{}\n".format(user,friend_list[friend]))
            f.write("{},{}\n".format(friend_list[friend],user))            

suggetsCount = 0            
with open('suggestions.csv', 'w') as f:
    f.write("suggest_id, login_id, video_id\n")
    for i in range(total_logins):
        login_id = random.randrange(usersCount)
        for k in range(10):
            vid = random.randrange(videosCount)
            f.write("{},{},{}\n".format(i, login_id, vid))

# Load data to csv files then saved on local

In [222]:
# load csv to pandas Dataframe
states = pd.read_csv('users.csv')
videos = pd.read_csv('videos.csv')

# remove duplicate pairs
likes_ = pd.read_csv('likes.csv')
likes = likes_.drop_duplicates(subset=['user_id','video_id'],keep= 'last')
likes.to_csv('likes.csv', index=False)

loginns = pd.read_csv('logins.csv')
watches = pd.read_csv('watches.csv')

#remove duplicates for friends.csv
friends_ = pd.read_csv('friends.csv').drop_duplicates()

friends_ = friends_[friends_.subject != friends_.object]
friends_.to_csv('friends.csv', index=False)

#reload friends.csv
friends = pd.read_csv('friends.csv')
suggestions = pd.read_csv('suggestions.csv')

# Copy csv files from hosts to docker container

In [101]:
!docker ps

CONTAINER ID   IMAGE      COMMAND                  CREATED          STATUS          PORTS                    NAMES
5c2ebceddce8   postgres   "docker-entrypoint.s…"   23 minutes ago   Up 23 minutes   0.0.0.0:5432->5432/tcp   cats

In [213]:
# copy local csv to docker container
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/users.csv ef19897b58ef:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/videos.csv ef19897b58ef:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/likes.csv ef19897b58ef:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/logins.csv ef19897b58ef:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/watches.csv ef19897b58ef:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/friends.csv ef19897b58ef:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/suggestions.csv ef19897b58ef:/

# Load csv files from docker to postgresql instance

In [194]:
%%sql
COPY cats.users(user_id,f_name,l_name,facebook_id)
FROM '/users.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
266397 rows affected.

[]

In [195]:
%%sql
COPY cats.videos(video_id,name)
FROM '/videos.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
1000000 rows affected.

[]

In [196]:
%%sql
COPY cats.logins(login_id,user_id,"time")
FROM '/logins.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
100000 rows affected.

[]

In [197]:
%%sql
COPY cats.watches(watch_id,user_id,video_id,"time")
FROM '/watches.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
532991 rows affected.

[]

In [198]:
%%sql
COPY cats.friends(user_id,friend_id)
FROM '/friends.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
2403552 rows affected.

[]

In [224]:
%%sql
COPY cats.likes(like_id,user_id,video_id,"time")
FROM '/likes.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
2528747 rows affected.

[]

# Writing queries

In [1]:
# connect database located on docker with psycopg2
try:
    conn = psycopg2.connect("dbname='postgres' user='postgres' host='0.0.0.0' password='huyuan3' port='5432'")
except:
    print("I am unable to connect to the database")

I am unable to connect to the database

In [254]:
def query_to_df(conn, query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cur = conn.cursor()
    try:
        cur.execute(query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cur.close()
        return 1
    
    # Naturally we get a list of tuples
    tuples = cur.fetchall()
    cur.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tuples, columns=column_names)
    return df

## QUERY 1

In [255]:
#query 1
query1 = """SELECT video_id, COUNT(*) AS num_like 
            FROM cats.likes 
            GROUP BY video_id 
            ORDER BY num_like DESC 
            LIMIT 10"""
result1 = query_to_df(conn, query1, ["video_id","likes_count"])
result1.to_csv("cats_query1_res.csv", index=False)

In [259]:
res1 = pd.read_csv("cats_query1_res.csv")
res1.T

,0,1,2,3,4,5,6,7,8,9
video_id,227321,185103,712861,824787,922204,242091,134015,949241,255345,148742
likes_count,13,13,13,13,12,12,12,12,12,12

## QUERY 2

In [260]:
#query 2
query2 = """SELECT l.video_id, COUNT(*) AS num_like 
            FROM cats.friends f, cats.likes l
            WHERE f.user_id=1 
            AND f.friend_id=l.user_id 
            GROUP BY l.video_id 
            ORDER BY num_like DESC 
            LIMIT 10"""

result2 = query_to_df(conn, query2, ["video_id","likes_count"])
result2.to_csv("cats_query2_res.csv", index=False)

In [262]:
res2 = pd.read_csv("cats_query2_res.csv")
res2.T

,0,1,2,3,4,5,6,7,8,9
video_id,26412,55489,59420,63405,72715,89512,118321,142269,145324,12407
likes_count,1,1,1,1,1,1,1,1,1,1

## QUERY 3

In [263]:
#query 3
query3 = """SELECT l.vl, COUNT(*)
            FROM
               
                 (SELECT l.video_id AS vl, l.user_id AS ul 
                  FROM cats.friends f, cats.likes l 
                  WHERE f.user_id=1 AND f.friend_id=l.user_id 
                
                  UNION
                
                  SELECT l.video_id AS vl, l.user_id AS ul 
                  FROM cats.friends f, cats.friends ff, cats.likes l 
                  WHERE f.user_id=1 AND f.friend_id=ff.user_id AND ff.user_id=l.user_id
                 ) AS l

            GROUP BY l.vl
            ORDER BY COUNT(*) DESC 
            LIMIT 10"""

result3 = query_to_df(conn, query3, ["video_id","likes_count"])
result3.to_csv("cats_query3_res.csv", index=False)

In [264]:
res3 = pd.read_csv("cats_query3_res.csv")
res3.T

,0,1,2,3,4,5,6,7,8,9
video_id,26412,55489,59420,63405,72715,89512,118321,142269,145324,12407
likes_count,1,1,1,1,1,1,1,1,1,1

## QUERY 4

In [265]:
#query 4
query4 = """SELECT l.video_id, COUNT(*) 
            FROM cats.likes l
            WHERE l.user_id 
            IN 
                (SELECT lb.user_id 
                 FROM cats.likes la, cats.likes lb 
                 WHERE la.user_id=1 AND la.video_id=lb.video_id AND la.user_id <> lb. user_id
                ) 
            GROUP BY l.video_id
            ORDER BY COUNT(*) DESC 
            LIMIT 10"""

result4 = query_to_df(conn, query4, ["video_id","likes_count"])
result4.to_csv("cats_query4_res.csv", index=False)

In [266]:
res4 = pd.read_csv("cats_query4_res.csv")
res4.T

,0,1,2,3,4,5,6,7,8,9
video_id,533261,242696,369447,286557,736628,232267,339117,243889,93818,279828
likes_count,7,6,6,5,5,5,4,4,4,4

## QUERY 5

In [267]:
#query 5
query5 = """WITH UserWeight AS
                (
                 SELECT lb.user_id, LOG(1+COUNT(*)) AS weight 
                 FROM cats.likes la, cats.likes lb
                 WHERE la.user_id=1 AND la.video_id=lb.video_id 
                 GROUP BY lb.user_id
                 )
            SELECT l.video_id, SUM(w.weight) AS sum_weight FROM cats.likes l,  UserWeight w
            WHERE l.user_id=w.user_id 
            GROUP BY l.video_id
            ORDER BY sum_weight DESC 
            LIMIT 10"""

result5 = query_to_df(conn, query5, ["video_id","likes_count"])
result5.to_csv("cats_query5_res.csv", index=False)

In [268]:
res5 = pd.read_csv("cats_query4_res.csv")
res5.T

,0,1,2,3,4,5,6,7,8,9
video_id,533261,242696,369447,286557,736628,232267,339117,243889,93818,279828
likes_count,7,6,6,5,5,5,4,4,4,4