In [1]:
import numpy as np
import pandas as pd

# Generate random data

    1. Read data from given txt files
    2. Generate random data
    3. Load data to csv files

In [4]:
import random

nrOfCategs = 20 #reduced from 100
nrOfProds = 100 #reduced from 100000

# add states csv
with open('sales_data/state_names.txt', 'r') as f:
    state_names = f.read().splitlines()
    
with open('states.csv', 'w') as f:
    f.write("id,state_name\n")
    for state_id in range(len(state_names)):
        f.write("{},{}\n".format(state_id,state_names[state_id]))
         
# customers
with open('sales_data/last_names.txt', 'r') as f:
    last_names = f.read().splitlines()

with open('sales_data/first_names.txt', 'r') as f:
    first_names = f.read().splitlines()

custCount = 0
maxIndex = len(first_names) - 1;
with open('customers.csv', 'w') as f:
    f.write("id,f_name,l_name,state_id\n")
    for ln in last_names:
        for k in range(10):
            fn = first_names[random.randrange(maxIndex)]
            sn = random.randrange(50) # add state_id
            f.write("{},{},{},{}\n".format(custCount, fn, ln, sn))
            custCount = custCount + 1
            
# categories
with open('categories.csv', 'w') as f:
    f.write("id,name,description\n")
    for cid in range(nrOfCategs):
        f.write("{},C{},Products in this category have properties PSET{}\n".format(cid,cid,cid))

# products
with open('products.csv', 'w') as f:
    f.write("id,name,price,category_id\n")
    for pid in range(nrOfProds):
        dollars = random.randrange(1000)
        cents = random.randrange(100)
        if dollars == 0 and cents == 0:
            cents = 13
        cid = random.randrange(nrOfCategs)
        f.write("{},P{},{}.{},{}\n".format(pid,pid,dollars,cents,cid))

# sales
with open('sales.csv', 'w') as f:
    f.write("id,product_id,customer_id,price,quantity,discount\n")
    sid = 1
    for cid in range(custCount):
        boughtCnt = random.randrange(5) #reduced from 100
        for k in range(boughtCnt):
            quantity = random.randrange(1000)
            discount = random.randrange(100)/100.0
            pid = random.randrange(nrOfProds-1)
            dollars = random.randrange(1000) # add price
            cents = random.randrange(100)
            if dollars == 0 and cents == 0:
                cents = 13
            f.write("{},{},{},{}.{},{},{}\n".format(sid,pid,cid,dollars,cents,quantity,discount))
            sid = sid + 1

# Load csv data to pandas Dataframe

In [5]:
# load csv to pandas Dataframe
states = pd.read_csv('states.csv')
categories = pd.read_csv('categories.csv')
customers = pd.read_csv('customers.csv')
products = pd.read_csv('products.csv')
sales = pd.read_csv('sales.csv')

In [6]:
sales.shape

(1776416, 6)

    install ipython-sql
    install psycopg2
    install pgspecial

# Create postgresql instance on docker

In [7]:
import psycopg2
import pgspecial

In [43]:
#create postgresql container on docker
!docker run --name sales -e POSTGRES_PASSWORD=huyuan3 -d -p 5432:5432 postgres

docker: Error response from daemon: Conflict. The container name "/sales" is already in use by container "3f9812e56ca3ce032b9f0b17e7042ea98eb2a7efed786e6ce7e0079d365f3e7e". You have to remove (or rename) that container to be able to reuse that name.
See 'docker run --help'.

In [8]:
!docker ps

CONTAINER ID   IMAGE      COMMAND                  CREATED       STATUS          PORTS                    NAMES
3f9812e56ca3   postgres   "docker-entrypoint.s…"   2 weeks ago   Up 17 minutes   0.0.0.0:5432->5432/tcp   sales

In [2]:
# examine port connection
!nc -zv localhost 5432

found 0 associations
found 1 connections:
     1:	flags=82<CONNECTED,PREFERRED>
	outif lo0
	src ::1 port 62464
	dst ::1 port 5432
	rank info not available
	TCP aux info available

Connection to localhost port 5432 [tcp/postgresql] succeeded!

In [11]:
# connect database located on docker with psycopg2
try:
    conn = psycopg2.connect("dbname='postgres' user='postgres' host='0.0.0.0' password='huyuan3' port='5432'")
except:
    print("I am unable to connect to the database")

In [12]:
# Open a cursor to perform database operations
cur = conn.cursor()

# Create Schema and Tables

In [14]:
def create_tables():
    #create tables in the PostgreSQL database
    commands = (
                """
                CREATE SCHEMA sales
                """,
        
                """
                CREATE TABLE sales.states(
                    id serial primary key NOT NULL,
                    name varchar(50) NOT NULL
                )""",

                """
                CREATE TABLE sales.categories(
                    id serial primary key NOT NULL,
                    name varchar(50) NOT NULL,
                    description text
                )""",

                """
                CREATE TABLE sales.customers(
                    id serial primary key NOT NULL,
                    f_name varchar(50) NOT NULL,
                    l_name varchar(50) NOT NULL,
                    state_id integer references sales.states(id) NOT NULL
                )""",

                """
                CREATE TABLE sales.products(
                    id serial primary key NOT NULL,
                    name varchar(50) NOT NULL,
                    price numeric NOT NULL,
                    category_id integer references sales.categories(id)
                )""",

                """
                CREATE TABLE sales.sales(
                    id serial primary key NOT NULL,
                    price numeric NOT NULL,
                    quantity integer NOT NULL,
                    customer_id integer references sales.customers(id) NOT NULL,
                    product_id integer references sales.products(id) NOT NULL,
                    discount numeric NOT NULL
                )"""
               )
    
    try:
        for command in commands:
            cur.execute(command)
        
        # close communication with the PostgreSQL database server
        cur.close()
        
        # commit the changes
        conn.commit()
    
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)

In [17]:
# create tables
cur.execute("DROP SCHEMA sales CASCADE;")
create_tables()

In [16]:
conn.rollback()

# Copy local csv data to docker container

In [49]:
!docker ps

CONTAINER ID   IMAGE      COMMAND                  CREATED       STATUS          PORTS                    NAMES
3f9812e56ca3   postgres   "docker-entrypoint.s…"   13 days ago   Up 37 seconds   0.0.0.0:5432->5432/tcp   sales

In [9]:
# copy local csv to docker container
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/states.csv 3f9812e56ca3:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/products.csv 3f9812e56ca3:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/categories.csv 3f9812e56ca3:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/customers.csv 3f9812e56ca3:/
!docker cp /Users/galaxie500/study/DSE/2020-yuh053/DSE201/sales.csv 3f9812e56ca3:/

# Load csv to sales schema

In [18]:
%load_ext sql

In [19]:
# # connect database located on docker with ipython-sql
%sql postgresql://postgres:huyuan3@localhost/postgres

'Connected: postgres@postgres'

In [20]:
%%sql
COPY sales.states(id, name)
FROM '/states.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
50 rows affected.

[]

In [21]:
%%sql
COPY sales.customers(id, f_name, l_name, state_id)
FROM '/customers.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
887990 rows affected.

[]

In [22]:
%%sql
COPY sales.categories(id, name, description)
FROM '/categories.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
20 rows affected.

[]

In [23]:
%%sql
COPY sales.products(id, name, price, category_id)
FROM '/products.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
100 rows affected.

[]

In [24]:
%%sql
COPY sales.sales(id, product_id, customer_id, price, quantity, discount)
FROM '/sales.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost/postgres
1776416 rows affected.

[]

In [368]:
sales.shape

(8432258, 6)

# Writing Queries

    helper function: save query result into Dataframe

In [25]:
def query_to_df(conn, query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cur = conn.cursor()
    try:
        cur.execute(query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cur.close()
        return 1
    
    # Naturally we get a list of tuples
    tuples = cur.fetchall()
    cur.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tuples, columns=column_names)
    return df

 ##   QUERY 1

In [31]:
#query 1
#1.1.Show the total sales (total quantity sold and total dollar value) for each customer.
#(If customer C has made no purchases, still output C, with 0 quantity and dollars).

query1 = """
         SELECT c.id, sum(quantity) AS total_quantity, sum(price) AS total_value
         FROM sales.sales s 
         FULL JOIN sales.customers c 
         ON c.id = s.customer_id
         GROUP BY c.id
         """
result1 = query_to_df(conn, query1, ["customer_id","total_quantity","total_value"])
result1.to_csv("sales_query1_res.csv", index=False)

In [95]:
res1 = pd.read_csv("sales_query1_res.csv")
res1.head(17).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
customer_id,1.00,2.00,3.00,4.00,5.00,6.00,7.00,8.00,9.00,10.00,11.00,12.00,13.00,14.00,15.0,16.00,17.00
total_quantity,288.00,257.00,628.00,94.00,721.00,251.00,314.00,17.00,6.00,351.00,16.00,540.00,929.00,677.00,773.0,187.00,755.00
total_value,602.78,63.52,93.71,570.31,347.73,146.52,53.68,235.46,151.26,249.67,277.45,416.33,912.16,19.74,871.9,775.95,937.93

## QUERY PLAN without index

In [28]:
%%sql
EXPLAIN
SELECT c.id, sum(quantity) AS total_quantity, sum(price) AS total_value
FROM sales.sales s 
FULL JOIN sales.customers c 
ON c.id = s.customer_id
GROUP BY c.id;

 * postgresql://postgres:***@localhost/postgres
11 rows affected.

[('HashAggregate  (cost=203900.74..232348.43 rows=887990 width=44)',),
 ('  Group Key: c.id',),
 ('  Planned Partitions: 128',),
 ('  ->  Hash Full Join  (cost=29351.78..85658.05 rows=1776416 width=14)',),
 ('        Hash Cond: (s.customer_id = c.id)',),
 ('        ->  Seq Scan on sales s  (cost=0.00..30826.16 rows=1776416 width=14)',),
 ('        ->  Hash  (cost=14782.90..14782.90 rows=887990 width=4)',),
 ('              ->  Seq Scan on customers c  (cost=0.00..14782.90 rows=887990 width=4)',),
 ('JIT:',),
 ('  Functions: 12',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

In [ ]:
EXPLAIN SELECT customer_name,sum(quantity),sum(price) 
FROM sales.sale s 
NATURAL JOIN sales.customer c 
GROUP BY c.customer_id

In [19]:
result1

1

##    QUERY 2

In [32]:
#query 2
#2.Show the total sales (total quantity sold and total dollar value) for each state.
#(If a state has 0 sales,  list it explicitly as such in the output).
query2 = """
         SELECT st.name, sum(quantity) AS total_quantity, sum(price) AS total_value
         FROM sales.sales s 
         FULL JOIN sales.customers c 
         ON s.customer_id = c.id
         FULL JOIN sales.states st 
         ON st.id = c.state_id
         GROUP BY st.name
         """
result2 = query_to_df(conn, query2, ["state_name","total_quantity","total_value"])
result2.to_csv("sales_query2_res.csv", index=False)

In [33]:
res2 = pd.read_csv("sales_query2_res.csv")
res2.head(17).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
state_name,Nevada,West Virginia,South Carolina,New Mexico,Arkansas,South Dakota,Washington,Kentucky,Nebraska,Tennessee,Oregon,Idaho,Alabama,Colorado,Mississippi,Louisiana,New Jersey
total_quantity,18004571,17836883,17598327,17760982,17655939,17709025,17779261,17968744,17684679,17764549,17540386,17791904,17793381,17615501,17804593,17952737,17602552
total_value,1.80456e+07,1.79368e+07,1.77322e+07,1.79111e+07,1.77309e+07,1.77539e+07,1.76517e+07,1.79613e+07,1.78147e+07,1.78656e+07,1.74635e+07,1.78418e+07,1.77424e+07,1.75642e+07,1.78986e+07,1.80019e+07,1.75871e+07

## QUERY PLAN without index

In [34]:
%%sql
EXPLAIN
SELECT st.name, sum(quantity) AS total_quantity, sum(price) AS total_value
FROM sales.sales s 
FULL JOIN sales.customers c 
ON s.customer_id = c.id
FULL JOIN sales.states st 
ON st.id = c.state_id
GROUP BY st.name

 * postgresql://postgres:***@localhost/postgres
14 rows affected.

[('HashAggregate  (cost=103703.01..103705.51 rows=200 width=158)',),
 ('  Group Key: st.name',),
 ('  ->  Hash Full Join  (cost=29373.93..90379.89 rows=1776416 width=128)',),
 ('        Hash Cond: (c.state_id = st.id)',),
 ('        ->  Hash Full Join  (cost=29351.78..85658.05 rows=1776416 width=14)',),
 ('              Hash Cond: (s.customer_id = c.id)',),
 ('              ->  Seq Scan on sales s  (cost=0.00..30826.16 rows=1776416 width=14)',),
 ('              ->  Hash  (cost=14782.90..14782.90 rows=887990 width=8)',),
 ('                    ->  Seq Scan on customers c  (cost=0.00..14782.90 rows=887990 width=8)',),
 ('        ->  Hash  (cost=15.40..15.40 rows=540 width=122)',),
 ('              ->  Seq Scan on states st  (cost=0.00..15.40 rows=540 width=122)',),
 ('JIT:',),
 ('  Functions: 20',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

 ##   QUERY 3

In [46]:
#query 3
#3.Show the total sales for each product, for a given customer. 
#Only products that were actually bought by the given customer are listed. 
#Order by dollar value. It is fine if your query hardcodes a specific customer id (full points). 
#Better would be to write a parameterized query (postgres function) that takes the customer id (cust_id) as argument. 
#Also great: list for EVERY customer.
#The output schema should be (pid, cust_id, total).

query3 = """
         SELECT product_id, sum(quantity) AS total_quantity, sum(price) AS total_value
         FROM sales.sales s 
         WHERE customer_id = 999
         GROUP BY product_id 
         ORDER BY total_value
         """
result3 = query_to_df(conn, query3, ["product_id","total_quantity","total_value"])
result3.to_csv("sales_query3_res.csv", index=False)

In [99]:
res3 = pd.read_csv("sales_query3_res.csv")
res3

   product_id  total_quantity  total_value
0          31             712       349.19
1           3             605       656.31
2           0              78       776.98
3          20             159       819.94

## QUERY PLAN without index

In [77]:
%%sql
EXPLAIN 
SELECT product_id, sum(quantity) AS total_quantity, sum(price) AS total_value
FROM sales.sales s 
WHERE customer_id = 999
GROUP BY product_id 
ORDER BY total_value

 * postgresql://postgres:***@localhost/postgres
12 rows affected.

[('Sort  (cost=23314.54..23314.55 rows=3 width=44)',),
 ('  Sort Key: (sum(price))',),
 ('  ->  Finalize GroupAggregate  (cost=23314.20..23314.51 rows=3 width=44)',),
 ('        Group Key: product_id',),
 ('        ->  Gather Merge  (cost=23314.20..23314.46 rows=2 width=44)',),
 ('              Workers Planned: 2',),
 ('              ->  Partial GroupAggregate  (cost=22314.18..22314.20 rows=1 width=44)',),
 ('                    Group Key: product_id',),
 ('                    ->  Sort  (cost=22314.18..22314.18 rows=1 width=14)',),
 ('                          Sort Key: product_id',),
 ('                          ->  Parallel Seq Scan on sales s  (cost=0.00..22314.17 rows=1 width=14)',),
 ('                                Filter: (customer_id = 999)',)]

## Create index on customer_id

In [78]:
%%sql
CREATE INDEX customer_id_index ON sales.sales(customer_id)

 * postgresql://postgres:***@localhost/postgres
Done.

[]

## QUERY PLAN with index

In [79]:
%%sql
EXPLAIN 
SELECT product_id, sum(quantity) AS total_quantity, sum(price) AS total_value
FROM sales.sales s 
WHERE customer_id = 999
GROUP BY product_id 
ORDER BY total_value

 * postgresql://postgres:***@localhost/postgres
8 rows affected.

[('Sort  (cost=8.60..8.60 rows=3 width=44)',),
 ('  Sort Key: (sum(price))',),
 ('  ->  GroupAggregate  (cost=8.50..8.57 rows=3 width=44)',),
 ('        Group Key: product_id',),
 ('        ->  Sort  (cost=8.50..8.51 rows=3 width=14)',),
 ('              Sort Key: product_id',),
 ('              ->  Index Scan using customer_id_index on sales s  (cost=0.43..8.48 rows=3 width=14)',),
 ('                    Index Cond: (customer_id = 999)',)]

 ##   QUERY 4

In [139]:
#query 4
#4.Show the total sales for each product and customer. Order by dollar value.
#Compared to 3. you will return all tuples 3. returns, plus also show entries for customers C and 
#products P such that C did not buy P (list C, P with 0 total sales).

query4 = """
         SELECT product_id, customer_id, sum(price) AS total_value 
         FROM sales.sales 
         GROUP BY product_id, customer_id 
         ORDER BY total_value DESC
         """
result4 = query_to_df(conn, query4, ["product_id","customer_id","total_value"])
result4.to_csv("sales_query4_res.csv", index=False)

In [141]:
res4 = pd.read_csv("sales_query4_res.csv")
res4.head(13).T

,0,1,2,3,4,5,6,7,8,9,10,11,12
product_id,37.00,17.00,56.00,63.00,61.00,77.00,18.0,15.00,98.00,47.0,5.0,64.00,80.00
customer_id,130419.00,41571.00,404433.00,613507.00,784680.00,87665.00,837280.0,794654.00,803896.00,256989.0,673023.0,748105.00,642338.00
total_value,2615.24,2586.44,2143.19,2138.91,2134.52,2074.12,2038.9,2033.16,1995.91,1991.1,1984.0,1979.46,1979.35

 ##   QUERY 5

In [213]:
#query 5
#5.Show the total sales for each product category and state.
#The output schema should be (category id, state).

query5 = """
         SELECT ca.id, st.name, sum(s.price) AS total_value
         FROM sales.sales s
         NATURAL JOIN sales.customers cu
         NATURAL JOIN sales.states st 
         JOIN sales.products pr
             ON s.product_id = pr.id
         JOIN sales.categories ca
             ON ca.id = pr.category_id
         GROUP BY ca.id, st.name
         """
result5 = query_to_df(conn, query5, ["category_id","state_name","total_value"])
result5.to_csv("sales_query5_res.csv", index=False)

In [216]:
res5 = pd.read_csv("sales_query5_res.csv")
res5.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
category_id,0,1,1,1,1,1,1,1,2,2,2,2,2,2,3
state_name,Colorado,Connecticut,Iowa,Kansas,Massachusetts,Mississippi,Oregon,Utah,Alaska,Indiana,Kentucky,Maine,Montana,Wyoming,California
total_value,347.73,146.52,19.74,871.9,983.46,76.55,226.28,612.94,602.78,912.16,775.95,502.37,55.98,714.12,570.31

In [80]:
%%sql
EXPLAIN
SELECT ca.id, st.name, sum(s.price) AS total_value
FROM sales.sales s
NATURAL JOIN sales.customers cu
NATURAL JOIN sales.states st 
JOIN sales.products pr
    ON s.product_id = pr.id
JOIN sales.categories ca
    ON ca.id = pr.category_id
GROUP BY ca.id, st.name

 * postgresql://postgres:***@localhost/postgres
19 rows affected.

[('GroupAggregate  (cost=2521.79..2527.87 rows=270 width=154)',),
 ('  Group Key: ca.id, st.name',),
 ('  ->  Sort  (cost=2521.79..2522.47 rows=270 width=128)',),
 ('        Sort Key: ca.id, st.name',),
 ('        ->  Hash Join  (cost=24.00..2510.89 rows=270 width=128)',),
 ('              Hash Cond: (pr.category_id = ca.id)',),
 ('              ->  Hash Join  (cost=4.10..2490.27 rows=270 width=128)',),
 ('                    Hash Cond: (s.product_id = pr.id)',),
 ('                    ->  Nested Loop  (cost=0.85..2486.28 rows=270 width=128)',),
 ('                          ->  Nested Loop  (cost=0.42..2202.35 rows=540 width=126)',),
 ('                                ->  Seq Scan on states st  (cost=0.00..15.40 rows=540 width=122)',),
 ('                                ->  Index Only Scan using customers_pkey on customers cu  (cost=0.42..4.05 rows=1 width=4)',),
 ('                                      Index Cond: (id = st.id)',),
 ('                          ->  Index Scan using sales_pkey on sales s  (cost=0.43..0.53 rows=1 width=14)',),
 ('                                Index Cond: (id = cu.id)',),
 ('                    ->  Hash  (cost=2.00..2.00 rows=100 width=8)',),
 ('                          ->  Seq Scan on products pr  (cost=0.00..2.00 rows=100 width=8)',),
 ('              ->  Hash  (cost=14.40..14.40 rows=440 width=4)',),
 ('                    ->  Seq Scan on categories ca  (cost=0.00..14.40 rows=440 width=4)',)]

 ##   QUERY 6

In [35]:
#query 6
#6.6.For each one of the top 20 product categories (by total revenue) and top 20 customers 
#(by total purchase revenue), return a tuple (top product category ID, top customer ID, quantity sold, dollar value). 
#It is possible that a top-20 customer spent $0 on a top-20 category. List this fact explicitly in the output: 
#(id of “comic books”, id of “jane”, 0, 0) is possible. 
#Extra credit if you can list the rank of the customer and of the category: 
#(cat_id, cat_rank, cust_id, cust_rank, quantity, dollar value). 

query6 = """
         SELECT top_ca.id, top_cu.customer_id, sum(s.quantity), sum(s.price) 
         FROM 
                    (SELECT ca.id AS id, sum(s.price) AS total_value 
                     FROM sales.categories ca
                     JOIN sales.products pr 
                        ON ca.id = pr.category_id
                     JOIN sales.sales s
                        ON pr.id = s.product_id
                     GROUP BY ca.id 
                     ORDER BY total_value DESC limit 20) AS top_ca, 
              
                    (SELECT customer_id, sum(price) AS dollar_value 
                     FROM sales.sales
                     GROUP BY customer_id 
                     ORDER BY dollar_value DESC limit 20) AS top_cu, 
              
                    sales.sales s,
                    sales.products pr
                    
         WHERE pr.category_id = top_ca.id 
                   and s.customer_id = top_cu.customer_id 
                   and s.product_id = pr.id
         GROUP BY top_ca.id, top_cu.customer_id 
         ORDER BY top_ca.id
    """
result6 = query_to_df(conn, query6, ["category_id","customer_id","total_quantity", "total_value"])
result6.to_csv("sales_query6_res.csv", index=False)

In [36]:
res6 = pd.read_csv("sales_query6_res.csv")
res6

    category_id  customer_id  total_quantity  total_value
0             0       369359             923       970.89
1             0       606859             397       980.88
2             1        56939             745       989.69
3             1       293832             871       985.59
4             1       359264             812       988.35
..          ...          ...             ...          ...
69           18       856166             449       992.63
70           18       859589              38       884.75
71           19        15293             651       926.91
72           19       389832             602       989.52
73           19       859589               2       962.53

[74 rows x 4 columns]

## Query plan without index

In [40]:
%%sql
EXPLAIN 
SELECT top_ca.id, top_cu.customer_id, sum(s.quantity), sum(s.price) 
FROM 
        (SELECT ca.id AS id, sum(s.price) AS total_value 
         FROM sales.categories ca
         JOIN sales.products pr 
            ON ca.id = pr.category_id
         JOIN sales.sales s
            ON pr.id = s.product_id
         GROUP BY ca.id 
         ORDER BY total_value DESC limit 20) AS top_ca, 

        (SELECT customer_id, sum(price) AS dollar_value 
         FROM sales.sales
         GROUP BY customer_id 
         ORDER BY dollar_value DESC limit 20) AS top_cu, 

        sales.sales s,
        sales.products pr

WHERE pr.category_id = top_ca.id 
           and s.customer_id = top_cu.customer_id 
           and s.product_id = pr.id
GROUP BY top_ca.id, top_cu.customer_id 
ORDER BY top_ca.id

 * postgresql://postgres:***@localhost/postgres
51 rows affected.

[('GroupAggregate  (cost=215469.32..249277.79 rows=62 width=48)',),
 ('  Group Key: top_ca.id, top_cu.customer_id',),
 ('  ->  Incremental Sort  (cost=215469.32..249276.39 rows=62 width=18)',),
 ('        Sort Key: top_ca.id, top_cu.customer_id',),
 ('        Presorted Key: top_ca.id',),
 ('        ->  Nested Loop  (cost=213690.07..249274.11 rows=62 width=18)',),
 ('              Join Filter: (pr.id = s.product_id)',),
 ('              ->  Merge Join  (cost=29332.05..29333.65 rows=100 width=8)',),
 ('                    Merge Cond: (top_ca.id = pr.category_id)',),
 ('                    ->  Sort  (cost=29326.72..29326.77 rows=20 width=4)',),
 ('                          Sort Key: top_ca.id',),
 ('                          ->  Subquery Scan on top_ca  (cost=29326.04..29326.29 rows=20 width=4)',),
 ('                                ->  Limit  (cost=29326.04..29326.09 rows=20 width=36)',),
 ('                                      ->  Sort  (cost=29326.04..29327.14 rows=440 width=36)',),
 ('                                            Sort Key: (sum(s_1.price)) DESC',),
 ('                                            ->  Finalize GroupAggregate  (cost=29199.56..29314.33 rows=440 width=36)',),
 ('                                                  Group Key: ca.id',),
 ('                                                  ->  Gather Merge  (cost=29199.56..29302.23 rows=880 width=36)',),
 ('                                                        Workers Planned: 2',),
 ('                                                        ->  Sort  (cost=28199.54..28200.64 rows=440 width=36)',),
 ('                                                              Sort Key: ca.id',),
 ('                                                              ->  Partial HashAggregate  (cost=28174.72..28180.22 rows=440 width=36)',),
 ('                                                                    Group Key: ca.id',),
 ('                                                                    ->  Hash Join  (cost=23.15..24473.85 rows=740173 width=10)',),
 ('                                                                          Hash Cond: (pr_1.category_id = ca.id)',),
 ('                                                                          ->  Hash Join  (cost=3.25..22492.28 rows=740173 width=10)',),
 ('                                                                                Hash Cond: (s_1.product_id = pr_1.id)',),
 ('                                                                                ->  Parallel Seq Scan on sales s_1  (cost=0.00..20463.73 rows=740173 width=10)',),
 ('                                                                                ->  Hash  (cost=2.00..2.00 rows=100 width=8)',),
 ('                                                                                      ->  Seq Scan on products pr_1  (cost=0.00..2.00 rows=100 width=8)',),
 ('                                                                          ->  Hash  (cost=14.40..14.40 rows=440 width=4)',),
 ('                                                                                ->  Seq Scan on categories ca  (cost=0.00..14.40 rows=440 width=4)',),
 ('                    ->  Sort  (cost=5.32..5.57 rows=100 width=8)',),
 ('                          Sort Key: pr.category_id',),
 ('                          ->  Seq Scan on products pr  (cost=0.00..2.00 rows=100 width=8)',),
 ('              ->  Materialize  (cost=184358.02..219847.62 rows=62 width=18)',),
 ('                    ->  Hash Join  (cost=184358.02..219847.31 rows=62 width=18)',),
 ('                          Hash Cond: (s.customer_id = top_cu.customer_id)',),
 ('                          ->  Seq Scan on sales s  (cost=0.00..30826.16 rows=1776416 width=18)',),
 ('                          ->  Hash  (cost=184357.77..184357.77 rows=20 width=4)',),
 ('                                ->  Subquery Scan on top_cu  (cost=184357.52..184357.77 rows=20 width=4)',),
 ('                                      ->  Limit  (cost=184357.52..184357.57 rows=20 width=36)',),
 ('                                            ->  Sort  (cost=184357.52..185788.24 rows=572286 width=36)',),
 ('                                                  Sort Key: (sum(sales.price)) DESC',),
 ('                                                  ->  HashAggregate  (cost=144627.81..169129.20 rows=572286 width=36)',),
 ('                                                        Group Key: sales.customer_id',),
 ('                                                        Planned Partitions: 64',),
 ('                                                        ->  Seq Scan on sales  (cost=0.00..30826.16 rows=1776416 width=10)',),
 ('JIT:',),
 ('  Functions: 61',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

## Creat index on porduct_id and category_id

In [81]:
%%sql
CREATE INDEX product_index ON sales.sales(product_id); 
CREATE INDEX category_index ON sales.products(category_id);

 * postgresql://postgres:***@localhost/postgres
Done.
Done.

[]

## Query plan with index

In [82]:
%%sql
EXPLAIN 
SELECT top_ca.id, top_cu.customer_id, sum(s.quantity), sum(s.price) 
FROM 
        (SELECT ca.id AS id, sum(s.price) AS total_value 
         FROM sales.categories ca
         JOIN sales.products pr 
            ON ca.id = pr.category_id
         JOIN sales.sales s
            ON pr.id = s.product_id
         GROUP BY ca.id 
         ORDER BY total_value DESC limit 20) AS top_ca, 

        (SELECT customer_id, sum(price) AS dollar_value 
         FROM sales.sales
         GROUP BY customer_id 
         ORDER BY dollar_value DESC limit 20) AS top_cu, 

        sales.sales s,
        sales.products pr

WHERE pr.category_id = top_ca.id 
           and s.customer_id = top_cu.customer_id 
           and s.product_id = pr.id
GROUP BY top_ca.id, top_cu.customer_id 
ORDER BY top_ca.id

 * postgresql://postgres:***@localhost/postgres
47 rows affected.

[('GroupAggregate  (cost=114606.74..114608.29 rows=62 width=48)',),
 ('  Group Key: top_ca.id, sales.customer_id',),
 ('  ->  Sort  (cost=114606.74..114606.90 rows=62 width=18)',),
 ('        Sort Key: top_ca.id, sales.customer_id',),
 ('        ->  Nested Loop  (cost=114340.12..114604.90 rows=62 width=18)',),
 ('              Join Filter: (pr.id = s.product_id)',),
 ('              ->  Merge Join  (cost=29332.05..29333.65 rows=100 width=8)',),
 ('                    Merge Cond: (top_ca.id = pr.category_id)',),
 ('                    ->  Sort  (cost=29326.72..29326.77 rows=20 width=4)',),
 ('                          Sort Key: top_ca.id',),
 ('                          ->  Subquery Scan on top_ca  (cost=29326.04..29326.29 rows=20 width=4)',),
 ('                                ->  Limit  (cost=29326.04..29326.09 rows=20 width=36)',),
 ('                                      ->  Sort  (cost=29326.04..29327.14 rows=440 width=36)',),
 ('                                            Sort Key: (sum(s_1.price)) DESC',),
 ('                                            ->  Finalize GroupAggregate  (cost=29199.56..29314.33 rows=440 width=36)',),
 ('                                                  Group Key: ca.id',),
 ('                                                  ->  Gather Merge  (cost=29199.56..29302.23 rows=880 width=36)',),
 ('                                                        Workers Planned: 2',),
 ('                                                        ->  Sort  (cost=28199.54..28200.64 rows=440 width=36)',),
 ('                                                              Sort Key: ca.id',),
 ('                                                              ->  Partial HashAggregate  (cost=28174.72..28180.22 rows=440 width=36)',),
 ('                                                                    Group Key: ca.id',),
 ('                                                                    ->  Hash Join  (cost=23.15..24473.85 rows=740173 width=10)',),
 ('                                                                          Hash Cond: (pr_1.category_id = ca.id)',),
 ('                                                                          ->  Hash Join  (cost=3.25..22492.28 rows=740173 width=10)',),
 ('                                                                                Hash Cond: (s_1.product_id = pr_1.id)',),
 ('                                                                                ->  Parallel Seq Scan on sales s_1  (cost=0.00..20463.73 rows=740173 width=10)',),
 ('                                                                                ->  Hash  (cost=2.00..2.00 rows=100 width=8)',),
 ('                                                                                      ->  Seq Scan on products pr_1  (cost=0.00..2.00 rows=100 width=8)',),
 ('                                                                          ->  Hash  (cost=14.40..14.40 rows=440 width=4)',),
 ('                                                                                ->  Seq Scan on categories ca  (cost=0.00..14.40 rows=440 width=4)',),
 ('                    ->  Sort  (cost=5.32..5.57 rows=100 width=8)',),
 ('                          Sort Key: pr.category_id',),
 ('                          ->  Seq Scan on products pr  (cost=0.00..2.00 rows=100 width=8)',),
 ('              ->  Materialize  (cost=85008.07..85178.41 rows=62 width=18)',),
 ('                    ->  Nested Loop  (cost=85008.07..85178.10 rows=62 width=18)',),
 ('                          ->  Limit  (cost=85007.65..85007.70 rows=20 width=36)',),
 ('                                ->  Sort  (cost=85007.65..86438.36 rows=572286 width=36)',),
 ('                                      Sort Key: (sum(sales.price)) DESC',),
 ('                                      ->  GroupAggregate  (cost=0.43..69779.32 rows=572286 width=36)',),
 ('                                            Group Key: sales.customer_id',),
 ('                                            ->  Index Scan using customer_id_index on sales  (cost=0.43..53743.67 rows=1776416 width=10)',),
 ('                          ->  Index Scan using customer_id_index on sales s  (cost=0.43..8.48 rows=3 width=18)',),
 ('                                Index Cond: (customer_id = sales.customer_id)',),
 ('JIT:',),
 ('  Functions: 56',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',)]

In [83]:
%%sql
SELECT
    tablename,
    indexname,
    indexdef
FROM
    pg_indexes
WHERE
    schemaname = 'sales'
ORDER BY
    tablename,
    indexname;

 * postgresql://postgres:***@localhost/postgres
8 rows affected.

[('categories', 'categories_pkey', 'CREATE UNIQUE INDEX categories_pkey ON sales.categories USING btree (id)'),
 ('customers', 'customers_pkey', 'CREATE UNIQUE INDEX customers_pkey ON sales.customers USING btree (id)'),
 ('products', 'category_index', 'CREATE INDEX category_index ON sales.products USING btree (category_id)'),
 ('products', 'products_pkey', 'CREATE UNIQUE INDEX products_pkey ON sales.products USING btree (id)'),
 ('sales', 'customer_id_index', 'CREATE INDEX customer_id_index ON sales.sales USING btree (customer_id)'),
 ('sales', 'product_index', 'CREATE INDEX product_index ON sales.sales USING btree (product_id)'),
 ('sales', 'sales_pkey', 'CREATE UNIQUE INDEX sales_pkey ON sales.sales USING btree (id)'),
 ('states', 'states_pkey', 'CREATE UNIQUE INDEX states_pkey ON sales.states USING btree (id)')]

~~~sql

~~~